h1 {
font-family: verdana;
text-align: center;
color: white;
line-height: 2em;
}
p {
font-family: verdana;
text-align: center;
color: white;
font-size:small;
}
blockquote {
text-align: center;
color: white;
}
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body {
background-color: #9A2442;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

span {
font-family: verdana;
align-items: center;
vertical-align: 50%;
color: white;
line-height: 2em;
}

summary {
font-family: verdana;
text-align: center;
color: white;
line-height: 2em;
}

.topnav {
  overflow: hidden;
  background-color: #fdd9b5;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff8080;
  color: white;
}

.topnav a.active {
  background-color: #86a96b;
  color: white;
}

#vhlogo img
{   
    width:80px; 
height:80px;
    margin-top: -25px;   
    vertical-align: middle;
}